.btn-block {
    width: 100%;
    height: 5rem;
}

#contenedor{
    padding-top: 6em;
}

.input-field label {
    color: #303f9f ;
  }
  /* label focus color */
  .input-field input:focus + label {
    color: #303f9f  !important;
  }
  /* label underline focus color */
  .input-field input:focus {
    border-bottom: 1px solid #303f9f  !important;
    box-shadow: 0 1px 0 0 #303f9f  !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #303f9f ;
  }