{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}


{% block body_class%} class='grey lighten-4' {% endblock %}

{% block content %}
<div class="navbar-fixed ">
    <nav>
      <div class="nav-wrapper indigo">
        <a href="#!" class="brand-logo left">CCAD</a>
        <ul class="right ">
          <li> <a href="sass.html" >  <i class="material-icons right">account_circle</i> Perfil</a></li>
          <li> <a href="/logout"> <i class="material-icons right">logout</i>Salir</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <h1 class="center">Pagina de inicio</h1>
{% endblock %}

